nav.navbar .navbar-brand img.logo {
    width: 200px;
}

.about-us {
    position: relative;
}

.about-us-text {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 80%;
    color: #000;
}

.about-us-text h1 {
    color: #000;
}

.Levering {
    margin: 0 auto;
}

.shopCarts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.CartBlock {
    display: flex;
    flex-direction: row;
}

.Cart {
    width: 300px;
    border: 1px solid black;
}

.cartDesc {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.cartDesc h3 {
    padding: 0;
    margin: 0;
}

.img-fluid {
    max-width: 100%;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
    background: #fff;
}

nav.navbar.bootsnav ul.navbar-nav li.dropdown ul.dropdown-menu li a {
    color: black;

}

/* /////////////////////////////cart//// */



@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf) format('TrueType');
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Medium.ttf) format('TrueType');
    font-display: swap;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf) format('TrueType');
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

img {
    width: 100%;
    height: auto;
    object-fit: contain
}

body,
html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #363636
}

/* @media screen and (max-width:765px) {
    .product_cards {
        display: flex;
        flex-wrap: wrap;
        padding: 24px;
        justify-content: center;
        align-items: center;
    }

    .product_cards .card {
        width: 250px;
        margin: 20px;
        border-radius: 8px;
        padding: 10px 0 0 10px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 12px rgba(152, 162, 179, .15), 0 0 4px rgba(152, 162, 179, .15), 0 0 2px rgba(152, 162, 179, .15);
        display: flex;
        flex-direction: column;
        background-color: #f8f9fa;

    }

    .product_cards .card .top-card {
        display: grid;
        margin-bottom: 8px;
        grid-template-columns: 100px auto;
        column-gap: 12px
    }

    .product_cards .card .top-card .product_img .sale__time {
        position: absolute;
        top: 4px;
        left: 4px
    }

    .product_cards .card .top-card .product_img .sale__time div {
        background-color: #fc9a11;
        border-radius: 12px 32px 32px 12px;
        display: flex;
        align-items: center;
        padding: 2px 4px;
        margin-bottom: 3px
    }

    .product_cards .card .top-card .product_img .sale__time div.time {
        background-color: #49c0b8
    }

    .product_cards .card .top-card .product_img .sale__time img {
        width: 12px;
        height: 12px;
        margin-right: 2px
    }

    .product_cards .card .top-card .product_img .sale__time span {
        font-size: 12px;
        line-height: 100%;
        color: #fff
    }

    .product_cards .card .top-card .product_img .favourite__component {
        position: absolute;
        top: 4px;
        right: 4px
    }

    .product_cards .card .top-card .product_img .favourite__component img {
        width: 24px;
        height: 24px
    }

    .product_cards .card .top-card .product_img .favourite__component .component {
        padding: 2px;
        border-radius: 50%;
        background-color: #76a82c;
        display: block;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .product_cards .card .top-card .product_img .favourite__component .component img {
        width: 20px;
        height: 20px
    }

    .product_cards .card .top-card .product_info {
        padding-top: 1px;
        margin-bottom: 12px;
        max-width: 185px
    }

    .product_cards .card .top-card .product_info h3 {
        font-size: 14px;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 5px
    }

    .product_cards .card .top-card .product_info .description {
        font-size: 12px;
        line-height: 15px;
        color: #6d6d6d;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 12px
    }

    .product_cards .card .top-card .product_info .rating {
        display: flex;
        align-items: center
    }

    .product_cards .card .top-card .product_info .rating img {
        width: 16px;
        height: 16px
    }

    .product_cards .card .top-card .product_info .rating span {
        margin-left: 4px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px
    }

    .product_cards .card .bottom-card {
        display: flex;
        align-items: center;
        margin-bottom: 12px
    }

    .product_cards .card .bottom-card img {
        width: 16px;
        height: 16px;
        margin-right: 4px
    }

    .product_cards .card .bottom-card .delivery {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        margin-right: 24px
    }

    .product_cards .card .bottom-card .orders_count {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        margin-right: 24px;
        color: #6d6d6d
    }

    .product_cards .card .bottom-card .articul {
        font-weight: 500;
        color: #6d6d6d;
        font-size: 12px
    }

    .product_cards .card .price__product {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        margin: auto 0 0
    }

    .product_cards .card .price__product .product_price {
        display: flex;
        align-items: baseline;
        margin-bottom: 2px
    }

    .product_cards .card .price__product .product_price .real_price span {
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        margin-right: 12px
    }

    .product_cards .card .price__product .product_price .sale_price span {
        font-size: 12px;
        line-height: 16px;
        color: #6d6d6d;
        display: block;
        position: relative
    }

    .product_cards .card .price__product .product_price .sale_price span:after {
        position: absolute;
        top: 8px;
        left: 0;
        content: "";
        background-color: #92022d;
        height: 1px;
        width: 100%;
        transform: rotate(-15deg)
    }

    .product_cards .card .price__product .weight span {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 8px;
        color: #6d6d6d
    }

    .product_cards .card .price__product .cart {
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
        background: #92022d;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        width: 60px;
        height: 60px;
        z-index: 0;
        border-bottom-right-radius: 8px
    }

    .product_cards .card .price__product .cart img {
        position: absolute;
        bottom: 4px;
        right: 4px;
        width: 24px;
        height: 24px
    }
} */

.product_cards {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    padding-top: 0;
    justify-content: center;
    align-items: center;
}

.product_cards .card {
    height: 367px;
    margin: 20px;
    padding: 8px 12px 11px;
    position: relative;
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 8px 12px 19px;
    overflow: hidden;
    cursor: pointer;
    will-change: box-shadow;
    width: 250px;
    min-height: 362px;
    height: 362px;
    transition: box-shadow .3s;
    display: grid
}

.product_cards .card:hover {
    box-shadow: 0 0 12px rgba(152, 162, 179, .15), 0 0 4px rgba(152, 162, 179, .15), 0 0 2px rgba(152, 162, 179, .15)
}

.product_cards .card:hover .price__product .cart {
    background-color: #92022d;
    transform: translate(-16px, -16px) rotate(-45deg)
}

.product_cards .card:hover .price__product .cart img {
    opacity: 1
}

.product_cards .card .top-card {
    grid-row: 1
}

.product_cards .card .top-card .product_img {
    width: 130px;
    height: 130px;
    margin: 0 auto 8px;
    display: flex;
    align-items: center;
    justify-content: center
}

.product_cards .card .top-card .product_img .sale__time {
    position: absolute;
    top: 4px;
    right: 4px
}

.product_cards .card .top-card .product_img .sale__time div {
    background-color: #fc9a11;
    border-radius: 32px 12px 12px 32px;
    display: flex;
    align-items: center;
    padding: 2px 4px;
    margin-bottom: 3px
}

.product_cards .card .top-card .product_img .sale__time div.time {
    background-color: #49c0b8
}

.product_cards .card .top-card .product_img .sale__time img {
    width: 12px;
    height: 12px;
    margin-right: 2px
}

.product_cards .card .top-card .product_img .sale__time span {
    font-size: 12px;
    line-height: 100%;
    color: #fff
}

.product_cards .card .top-card .product_img .favourite__component {
    position: absolute;
    top: 4px;
    left: 4px
}

.product_cards .card .top-card .product_img .favourite__component img {
    width: 24px;
    height: 24px
}

.product_cards .card .top-card .product_img .favourite__component .component {
    padding: 2px;
    border-radius: 50%;
    background-color: #76a82c;
    display: block;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center
}

.product_cards .card .top-card .product_img .favourite__component .component img {
    width: 20px;
    height: 20px
}

.product_cards .card .top-card .product_img .product_img-img {
    max-width: 100%;
    display: block;
    max-height: 100%;
    height: auto;
    width: auto;
    margin: auto
}

.product_cards .card .top-card .product_info {
    display: grid;
    grid-template-columns: 1fr
}

.product_cards .card .top-card .product_info .rating {
    grid-row: 1;
    display: flex;
    align-items: center;
    margin-bottom: 8px
}

.product_cards .card .top-card .product_info .rating img {
    width: 16px;
    height: 16px
}

.product_cards .card .top-card .product_info .rating span {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    padding-top: 1px;
    margin-left: 8px
}

.product_cards .card .top-card .product_info h3 {
    grid-row: 2;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #363636
}

.product_cards .card .top-card .product_info .description {
    grid-row: 3;
    font-size: 12px;
    line-height: 14px;
    color: #6d6d6d;
    margin-bottom: 16px
}

.product_cards .card .price__product {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 4px
}

.product_cards .card .price__product .product_price {
    display: flex;
    align-items: center
}

.product_cards .card .price__product .product_price .real_price span {
    margin-right: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #363636
}

.product_cards .card .price__product .product_price .sale_price span {
    font-size: 12px;
    line-height: 16px;
    color: #6d6d6d;
    display: block;
    position: relative
}

.product_cards .card .price__product .product_price .sale_price span:after {
    position: absolute;
    top: 8px;
    left: 0;
    content: "";
    background-color: #92022d;
    height: 1px;
    width: 100%;
    transform: rotate(-15deg)
}

.product_cards .card .price__product .weight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.product_cards .card .price__product .weight span {
    font-size: 12px;
    line-height: 14px;
    color: #6d6d6d;
    font-weight: 500
}

.product_cards .card .price__product .cart {
    background-color: #cbcbcb;
    height: 84px;
    width: 84px;
    transform: translate(0) rotate(-45deg);
    position: absolute;
    bottom: -58px;
    right: -58px;
    transition: all .3s
}

.product_cards .card .price__product .cart img {
    width: 24px;
    height: 24px;
    transform: rotate(45deg);
    position: relative;
    bottom: -7px;
    right: -30px;
    opacity: 0;
    will-change: opacity
}

.product_cards .card .bottom-card {
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.product_cards .card .bottom-card .delivery,
.product_cards .card .bottom-card .orders_count {
    display: flex;
    align-items: center
}

.product_cards .card .bottom-card img {
    width: 16px;
    height: 16px;
    margin-right: 4px
}

.product_cards .card .bottom-card span {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #363636
}

.product_cards .card .bottom-card .articul {
    display: none
}

.product_cards .card .form_count_product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -32px;
    transition: transform .3s ease-out;
    transform: translateY(30px);
    background-color: #fff;
    padding: 0 25px
}

.product_cards .card .form_count_product .count_minus,
.product_cards .card .form_count_product .count_plus {
    padding: 11px 19px;
    display: flex;
    align-items: center
}

.product_cards .card .form_count_product .count_minus img,
.product_cards .card .form_count_product .count_plus img {
    width: 23px;
    height: 23px
}

.product_cards .card .form_count_product .count_product {
    font-size: 22px
}

/* /////////////////////////////////////////// */

.noo-sh-title-top {
    margin-top: 20px;
    margin-bottom: 20px;
}

.noo-sh-title-top-list {
    margin-bottom: 20px;
}

.noo-sh-title-top-list li {
    list-style: circle;
}

/* ///////////////////////////////////////////// */

.product-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-category li {
    display: block;
    border: #dddddd solid 2px;
    border-radius: 10px;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    background-color: #efefef;
    transition: .3s;
    margin-right: 10px;
    margin-bottom: 10px;
}

.product-category li:hover {
    background-color: #fff;
}

.product-category li:last-child {
    margin-right: 0;
}